$violet: #3E2F5B;
$cardinal: #AD343E;
$citron: #E3D26F;
$light: #f0f0f0;
$dark: #0A0A0A;

$primary: $violet;
$danger: $cardinal;
$primary-hover: lighten($primary, 10%);
$primary-trans: rgba($primary, 0.25);