:root {
  --russian-violet: #3E2F5B;
  --dark-purple: #261132;
  --african-violet: #B58DB6;
  --lemon-chiffron: #F1F0CC;
  --night: #0A0A0A;

  --light: var(--lemon-chiffron);
  --dark: var(--night);
  --primary: var(--russian-violet);
  --accent: var(--african-violet);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--dark-purple);
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1px auto 1px;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  background-color: var(--primary);
  border-right: 1px solid var(--african-violet);
}

footer {
  grid-column: span 2;
}

canvas {
  border: 1px solid black;
  background-color: white;
}

nav {
  background-color: var(--primary);
  grid-column: span 2;
}

.clickable {
  cursor: pointer;
}

.framePreviewContainer {
  margin: 0 0.25rem;
  max-width: 4rem;
  display: flex;
  align-items: center;
}

.framePreview {
  border: 2px solid var(--accent);
  border-radius: 5px;
  background-color: white;
}

.noPreview {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: var(--dark);
  border: 2px solid var(--accent);
}

#frames {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 4rem;
}

#canvasContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}