:root {
  --russian-violet: #3E2F5B;
  --dark-purple: #261132;
  --african-violet: #B58DB6;
  --african-transparent: rgba(181, 141, 182, 0.55);
  --lemon-chiffron: #F1F0CC;
  --night: #0A0A0A;

  --light: var(--lemon-chiffron);
  --dark: var(--night);
  --primary: var(--russian-violet);
  --accent: var(--african-violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--dark-purple);
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1px auto 1px;
}

main {
  display: flex;
  flex-direction: column;
}

aside {
  background-color: var(--primary);
}

footer {
  grid-column: span 2;
}

canvas {
  border: 1px solid black;
  background-color: white;
}

nav {
  background-color: var(--primary);
  grid-column: span 2;
}

input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

button {
  outline: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--light);
  text-transform: capitalize;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  font-weight: bold;
}

button:hover {
  filter: brightness(120%);
}

.clickable {
  cursor: pointer;
}

.framePreviewContainer {
  margin: 0 0.25rem;
  max-width: 4rem;
  display: flex;
  align-items: center;
}

.framePreview {
  border: 2px solid var(--accent);
  border-radius: 5px;
  background-color: white;
}

.noPreview {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: var(--dark);
  border: 2px solid var(--accent);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.25rem;
}

.inputSection {
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 0.25rem;
  background-color: var(--accent);
  color: var(--dark);
  border-radius: 5px;
}

.loadingMessage {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--light);
}

.inputSection label {
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.inputSection input {
  margin-top: 0.25rem;
}

#frames {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  height: 4rem;
}

#canvasContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.25rem;
}

#fullscreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-purple);
  transition: opacity 250ms;
  z-index: 100;
  cursor: progress;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#fullscreenLoader.off {
  opacity: 0;
}

#fullscreenLoader.on {
  opacity: 1;
}

/* Stolen from https://cssloaders.github.io/ */
.loader {
  width: 64px;
  height: 12px;
  background:
    radial-gradient(circle 6px, var(--light) 100%, transparent 0),
    radial-gradient(circle 6px, var(--light) 100%, transparent 0);
  background-size: 12px 12px;
  background-position: left center, right center;
  background-repeat: no-repeat;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF3D00;
  inset: 0;
  margin: auto;
  animation: mvX 0.6s, mvY 0.3s;
  animation-timing-function: cubic-bezier(.5, -300, .5, 300);
  animation-iteration-count: infinite;
}

@keyframes mvX {
  100% {
    left: 0.85px
  }
}

@keyframes mvY {
  100% {
    top: 0.5px
  }
}