@import "../variables.module.scss";

.container {
  background-color: $primary;
  color: $light;
  display: flex;
  align-items: center;
  justify-items: flex-start;

  .navItem {
    text-decoration: none;
    font-size: 2rem;
    color: $light;
    cursor: pointer;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    position: relative;

    & > .dropdown {
      display: none;
      position: absolute;
      left: 0;
      top: 100%;
      width: 10rem;
      background-color: $light;
      color: $dark;
      flex-direction: column;
      border: 1px solid $primary;
      border-radius: 0 0 3px 3px;
      font-size: 1.25rem;

      & > a {
        padding: 0.25rem;
        transition: background-color 0.25s;

        &:hover {
          background-color: $primary-trans;
        }
      }
    }

    & img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 15px;
    }

    &:hover {
      background-color: $primary-hover;
      &>.dropdown {
        display: flex;
      }
    }
  }
}
