@import "../variables.module.scss";

.container {
  background-color: $primary-trans;
}

.framesContainer {
  overflow-x: auto;
  white-space: nowrap;
  width: 0px; // Making this 0 allows the scroll magic to happen
  scrollbar-color: pink;
}

.scroller {
  padding: 0.5rem 0.75rem;
  height: 84px;
}