@import "../variables.module.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($dark, 0.25);
  transition: opacity 100ms;
  z-index: 90;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &.on {
    opacity: 1;
  }

  &.off {
    opacity: 0;
  }
}

.dialog {
  min-height: 1rem;
  width: 50%;
  background-color: $light;
  border-radius: 3px;
  overflow: hidden;

  .header {
    background-color: $primary;
    color: $light;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    .title {
      flex: 1;
    }

    .close {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.69;
      cursor: pointer;
    }
  }

  .text {
    padding: 0.5rem 1rem;
  }

  .actions {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;

    .affirmative {
      @include button-primary;
    }
  }
}