.container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.canvasContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
}